@import '../../bower_components/pasteup-palette/src/_palette.scss';

@function colour($name) {
    @return map-get($pasteup-palette, $name);
}

$africa:#7d7569;
$europe:#507892;
$oceania:#72af7e;
$namerica:#a60947;
$samerica:#ff5b3a;
$americas:#ff5b3a;
$asia:#ffcc4b;
$middle_east:#ff9b0b;

$countries-list: africa, europe, oceania, namerica, samerica, americas, asia, middle_east;
$colors-list: $africa, $europe, $oceania, $namerica, $samerica, $americas, $asia, $middle_east;

@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);

	g.city.#{nth($countries-list, $i)} {
		rect {
			fill:$current-color;
		}
	}
	
	g.place.#{nth($countries-list, $i)} {
		circle {
			fill:$current-color;
			stroke:none;
			&.only-stroke {
				//fill:none;
				stroke:$current-color;
			}
		}
	}
}